<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><%= @title %></title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">CRUD</a>
				
			</div>
			<ul class="nav navbar-nav navbar-right" href="#">
				<% if session[:user].nil? %>
					<li><a href="/login">Login</a></li>
					<li><a href="/new">Signup</a></li>
				<% else %>
					<li><a href="/info">My Account</a></li>
					<li><a href="/logout">Logout</a></li>
				<% end %>
			</ul>
		</div>
	</nav>
	<% if !session[:error].nil? %>
	<div class="alert alert-danger">
		<strong>Failed !</strong> <%= session[:error] %>
		<% session[:error] = nil %>
	</div>
	<% end %>
	<% if !session[:info].nil? %>
	<div class="alert alert-info">
		<strong>Done !</strong> <%= session[:info] %>
		<% session[:info] = nil %>
	</div>
	<% end %>
	<% if !session[:success].nil? %>
	<div class="alert alert-success">
		<strong>Done !</strong> <%= session[:success] %>
		<% session[:success] = nil %>
	</div>
	<% end %>
	<div class="col-lg-10 col-lg-offset-2">
		<%= yield %>
	</div>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="/js/ajax-utils.js"></script>
	<script type="text/javascript" src="/js/script.js"></script>
</body>
</html>