<h2>All users</h2>
<p>Search</p>
<form action="search" method="post">
	<input type="text" name="search" style="width: 50%; margin-bottom: 30px">
	<input type="submit" value="Search">
</form>

<table style="width: 90%">
	<tr>
		<th>Avatar</th>
		<th>Name</th>
		<th>Email</th>
		<th>About</th>
	</tr>
	<% if @users != nil %>
		<% @users.each do |u| %>
			<tr id="item<%= u.id %>">
				<th><a href="images/<%= u.avatar %>"><img src="./images/<%= u.avatar %>"></a></th>
				<th><%= u.name %></th>
				<th><%= u.email %></th>
				<th><%= u.about %></th>
				<th>
					<form action="edit/<%= u.id %>" method="get">
						<input type="submit" value="Update">
					</form>
				<th>
					<!-- <form id="deleteForm" action="<%= u.id %>" method="post">
						<input type="hidden" name="_method" value="delete">
						<input type="submit" value="Delete">
					</form> -->
					<button class="deleteButton" value="<%= u.id %>">Delete</button>
				</th>
			</tr>
		<% end %>
	<% end %>
</table>